.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
jitsi_config_sample
.vscode
jitsi-meet/
jitsi-meet
verify_install.py
test.py
test_transcription.py
*.pyc
__pycache__/
.env
meeting_recordings
