# Jitsi Meet Docker Compose Environment Variables
# Ref: https://jitsi.github.io/handbook/docs/devops-guide/devops-guide-docker

# Directory where all configuration will be stored
CONFIG=~/.jitsi-meet-cfg

# Exposed HTTP port (will redirect to HTTPS port)
HTTP_PORT=8000

# Exposed HTTPS port
HTTPS_PORT=8443

# System time zone
TZ=Europe/Istanbul

# Public URL for the web service (required)
# IMPORTANT: Must include the port if non-standard (e.g. :8443)
PUBLIC_URL=https://your-domain-or-ip:8443

# IP Address to advertise (Usually your public IP)
JVB_ADVERTISE_IPS=your-public-ip

# Authentication
# Enable authentication
ENABLE_AUTH=1
ENABLE_GUESTS=1
AUTH_TYPE=jwt

# JWT Configuration
# MUST match 'Meeting Settings' in ERPNext
JWT_APP_ID=erpnext_pta
JWT_APP_SECRET=CHANGE_THIS_SECRET

# Passwords
# Run ./gen-passwords.sh in the docker repo to generate these
JICOFO_AUTH_PASSWORD=
JVB_AUTH_PASSWORD=
JIGASI_XMPP_PASSWORD=
JIGASI_TRANSCRIBER_PASSWORD=
JIBRI_RECORDER_PASSWORD=
JIBRI_XMPP_PASSWORD=

# Extra Features
ENABLE_XMPP_WEBSOCKET=0
ENABLE_CORS=1

# Required Modules for ERPNext Integration
XMPP_MUC_MODULES=token_verification,token_affiliation,frozen_nick,dynamic_moderation,hook_meeting_end
